*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100vw; */
    /* max-width: 1600px; */
    /* border: 1px solid rgb(202, 106, 106); */
}
.google-font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* nav */
#nav-contain{
    width: 1600px;
    height: 92px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
}
#nav-contain .logo img{
    width: 139px;
    height: 60px;
    margin-left: 120px;


}

#nav-contain nav ul{
    
    display: flex;
    flex-direction: row;
    gap: 32px;


}
#nav-contain nav ul li ,a{
    list-style: none;
    text-decoration: none;
    color: #000000;
}
#nav-contain nav ul a:hover{
    
    text-decoration: underline 2px solid  #469165;
    color: #000000;

}

#nav-contain button{
    width: 164px;
    height: 44px;
    margin-right: 120px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;

}
#nav-contain button:hover{
    
    
    background-color: #FFFFFF;
    color: #469165;
    border: 1px solid #469165;
   

}


/* header */


#banner{
    height: 674px;
  
    background-color: beige;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#banner .banner-text-container{
    width: 1360px;
    height: 379px;
    align-items: center;
    text-align: center;
    margin: 116px 120px 264px 120px;
    

}

#banner .banner-text-container .btn2{
    width: 229px;
    height: 35px;
    color: #30B868;
   
    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 500;

    margin-bottom:10px ;
    


}

#banner .banner-text-container h1{
    width: 770px;
    height: 168px;
    font-size: 68px;
    font-weight: bold;
    line-height: 80px;
    color: white;
    margin: 51px 295px 76px 295px;
    
}
#banner h1 span{
    color: #30B868;
}
.banner-text-container p{
    width: 1360px;
    height: 60px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 16px auto;
    text-align: center;
}

#banner .btn-container{
    /* display: flex; */
    /* flex-direction: row; */
    gap: 20px;
    margin: -230px 447px 179px 447px;

}

#banner .btn-container .banner-btn2{
    width: 251px;
    height: 52px;
    color: #FFFFFF;
    background: #469165;
    border: none;

}

#banner .btn-container .banner-btn3{
    width: 198px;
    height: 52px;
    color: #FFFFFF;
    background: #4691650c;
    
    border: 1px solid white;
}


/* brain-note-container */
#brain-note{
    width: 71%;
    max-width: 1600px;
    margin: 0 auto;
}
#brain-note .brain-note-container{
    display: flex;
    flex-direction: column;
}

#brain-note-container .note-heading-container{
    width: 1360px;
    height: 152px;
    margin: auto 120px;
    /* background-color: antiquewhite; */
    text-align: center;

}

#brain-note-container .note-heading-container h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-align: center;
    margin-top: 60px;


}
#brain-note-container .note-heading-container p{
    font-size: 16px;
    font-weight: 400;
    color:#627382 ;
    text-align: center;
    margin-top: 24px;


}
#brain-note-container .note-card-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto;
    /* margin-left: 120px;
    align-items: center; */
}
#brain-note-container .note-card-info{
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
   /* background-color: antiquewhite; */
   border: 1px solid red;
   margin-top: 50px;
   
}

#brain-note-container .note-card-info .icon{
    max-width: 60px;
    /* width: 60px;
    height: 60px; */
    background-color: #F95555;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    margin: 79px 131px 170px 131px;
    color: #FFFFFF;

}
.note-card-info h3{
    font-size: 24px;
    font-weight: 600;
    /* margin: 131px 24px 111px 24px; */
}

/* llllllll */
/*  Brain-solution-container*/
#Brain-solution-container{
    max-width: 1600px;
    height: 600px;
    display: flex;
    border: 2px solid red;
    margin: 120px;
    justify-content: space-between;
}

#Brain-solution-container .brain-image-container{
    margin-right: 60px;
    
}
#Brain-solution-container .brain-info-container{
    height: 400px;
    margin: 100px auto;

}

#Brain-solution-container .brain-info-container h6{
   font-size: 16px;
   font-weight: 500;
   color: #30B868;
   margin-bottom: 16px;
    
}
#Brain-solution-container .brain-info-container h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
   
    
}

#Brain-solution-container .brain-info-container p{
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    height: 60px;
    width: 700px;
    font-weight: 400;
    margin-bottom: 40px;
    
}


#Brain-solution-container .brain-info-container .brain-info-check-text-container{
    
    

    width: 700px;
    height: 128px;
    
    
}
#Brain-solution-container .brain-info-check-text-container .check-info{
    
    display: flex;
    width: 400px;
    height: 20px;
    margin-bottom: 16px;
    /* flex-direction: column; */
    
    
}
#Brain-solution-container .brain-info-check-text-container .check-info{
    color:#001931; 
}