*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100vw; */
    /* max-width: 1600px; */
    /* border: 1px solid rgb(202, 106, 106); */
}
.google-font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* nav */
#nav-contain{
    width: 1600px;
    height: 92px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
}
#nav-contain .logo img{
    width: 139px;
    height: 60px;
    margin-left: 120px;


}

#nav-contain nav ul{
    
    display: flex;
    flex-direction: row;
    gap: 32px;


}
#nav-contain nav ul li ,a{
    list-style: none;
    text-decoration: none;
    color: #000000;
}
#nav-contain nav ul a:hover{
    
    text-decoration: underline 2px solid  #469165;
    color: #000000;

}

#nav-contain button{
    width: 164px;
    height: 44px;
    margin-right: 120px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;

}
#nav-contain button:hover{
    
    
    background-color: #FFFFFF;
    color: #469165;
    border: 1px solid #469165;
   

}


/* header */


#banner{
    height: 674px;
  
    background-color: beige;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#banner .banner-text-container{
    width: 1360px;
    height: 379px;
    align-items: center;
    text-align: center;
    margin: 116px 120px 264px 120px;
    

}

#banner .banner-text-container .btn2{
    width: 229px;
    height: 35px;
    color: #30B868;
    background-color: ;
    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 500;

    margin-bottom:10px ;
    


}

#banner .banner-text-container h1{
    width: 770px;
    height: 168px;
    font-size: 68px;
    font-weight: bold;
    line-height: 80px;
    color: white;
    margin: 51px 295px 76px 295px;
    
}
#banner h1 span{
    color: #30B868;
}
.banner-text-container p{
    width: 1360px;
    height: 60px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 16px auto;
    text-align: center;
}

#banner .btn-container{
    /* display: flex; */
    /* flex-direction: row; */
    gap: 20px;
    margin: -230px 447px 179px 447px;

}

#banner .btn-container .banner-btn2{
    width: 251px;
    height: 52px;
    color: #FFFFFF;
    background: #469165;
    border: none;

}

#banner .btn-container .banner-btn3{
    width: 198px;
    height: 52px;
    color: #FFFFFF;
    background: #4691650c;
    
    border: 1px solid white;
}


/* brain-note-container */
#brain-note-container{
    display: flex;
    flex-direction: column;
}

#brain-note-container .note-heading-container{
    width: 1360px;
    height: 152px;
    margin: auto 120px;
    background-color: antiquewhite;
    text-align: center;

}

#brain-note-container .note-heading-container h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-align: center;


}
#brain-note-container .note-heading-container p{
    font-size: 16px;
    font-weight: 400;
    color:#627382 ;
    text-align: center;


}
.note-card-container{
    width: 1360px;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 1px solid red;
   
}

.note-card-container .note-card-info{
    
    width: 322px;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 #0000006b;
}

.note-card-container .note-card-info .icon{
    background-color: #F95555;
    width: 60px;
    height: 60px;
     border-radius: 50%;
    /* margin: 70px 131px 170px 131px;  */
}

 /*
.note-card-container .note-card-info .icon{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 70px 131px 170px 131px;
    
}
.note-card-container .note-card-info .icon img{
    width: 27px;
    height: 27px;
    align-items: center;
    justify-content: center;

    
   
}
.note-card-container .note-card-info h3{
    color: #001931;
    margin: 145px 24px 125px 24px;
   
}
.note-card-container .note-card-info p{
    color: #627382;
    margin: 205px 24px 55px 24px;
   
} */